
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}
.column{


   width: 100%;
  /*float: left;*/
  /*height: 100%;*/
  box-sizing: border-box; }
}
.columns {
  width: 100%;
  float: left;
  /*height: 130%;*/
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}





/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 0; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


@media (min-width: 650px){




.container .row  #navimg{
  /*padding-top: 1%;*/
  display: inline-block;
  width: 23%;
  padding-right: 5%;
}


.container .info-block{
/* margin-left: 22%;
  margin-right: 23%;
*/  /*display: none;*/
  /*line-height: 0;*/
display: none;
}
.container .modelchoice
{
  /*padding-top: 2%;*/
text-align: center;
padding: 0;
padding-bottom: 2%;
}


.container .modelchoice button
{
  color: #1b1c25;
text-align: center;
border-radius: 7px;
margin: 7px;
height: 6%;
background-color: #ff9595;
font-size: 100%;

}
}


@media (width:740px) {


.container .row  #navimg{
  /*padding-top: 1%;*/
  display: inline-block;
  width: 15%;
  padding-right: 5%;
}

.container .row ul li#present{
  font-size: 0.9vw; 
  /*font-weight: bolder;*/
}


.container .row ul li#pname{
  font-size: 2.0vw; 
  font-weight: bolder;
}


.container .info-block{
/* margin-left: 22%;
  margin-right: 23%;
*/  /*display: none;*/
  /*line-height: 0;*/
display: none;
}

.container .info-block{
 margin-left: 22%;
  margin-right: 23%;
  /*display: none;*/
  /*line-height: 0;*/
/*display: none;*/
}
.container .modelchoice
{
  /*padding-top: 2%;*/

text-align: center;
padding: 0;
padding-bottom: 2%;
width: 40%;
  /*padding-top: 2%;*/
  /*margin-right: 40%*/
/*height: 100%;*/
}


.container .modelchoice button
{

  display: block;
  /*width: 50%*/
  color: #fff;
text-align: center;
float: left;
border-radius: 7px;
margin: 7px;
height: 10%;
background-color: #ff9595;
font-size: 100%;

}


.container  #live-view{
  position: relative;
  background: url('/mask.svg') no-repeat ;

/*  max-height: 480px;
  max-width: 640px;*/
  /*padding-left: 50%;*/
  height: 55%;
  width: 55%;
  margin-left : 42%;
  background-size: 100% 100%;
  /*background-color:rgba(0, 0, 0, 0.5);*/
}
.container .webcam-view {
  
  position: relative;
  padding: 0;
  width: 55%;
  height: 55%;
  /*padding-right: 17%;*/
  /*top:  110%;
  height: 162%;*/
  /*border: 3.5px solid #000;*/
}

.container .webcam-view video{
  
  position: absolute;
 margin-left: 38%;

  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          width: 100%;
          /*z-index: 9999;*/
          height: auto;
  /*padding: 0;*/
  /*width: 200px;
  height: 200px;*/
  /*border: 10px solid black;*/
  /*padding-right: 17%;*/
  /*top:  110%;
  height: 162%;*/
  /*border: 3.5px solid #000;*/
}

.container #live-view canvas {
  position: absolute;
  margin-left: 38%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 999;
  /*padding-left: 17%;*/
}

}

@media (max-width:1000px) and (min-width:800px){


.container .row  #navimg{
  /*padding-top: 1%;*/
  display: inline-block;
  width: 15%;
  padding-right: 5%;
}

.container .row ul li#present{
  font-size: 0.9vw; 
  /*font-weight: bolder;*/
}


.container .row ul li#pname{
  font-size: 2.0vw; 
  font-weight: bolder;
}


.container .info-block{
/* margin-left: 22%;
  margin-right: 23%;
*/  /*display: none;*/
  /*line-height: 0;*/
display: none;
}

.container .info-block{
 margin-left: 22%;
  margin-right: 23%;
  /*display: none;*/
  /*line-height: 0;*/
/*display: none;*/
}
.container .modelchoice
{
  /*padding-top: 2%;*/

text-align: center;
padding: 0;
padding-bottom: 2%;
width: 40%;
  /*padding-top: 2%;*/
  /*margin-right: 40%*/
/*height: 100%;*/
}


.container .modelchoice button
{

  display: block;
  /*width: 50%*/
  color: #fff;
text-align: center;
float: left;
border-radius: 7px;
margin: 7px;
height: 10%;
background-color: #ff9595;
font-size: 100%;

}


.container  #live-view{
  position: relative;
  background: url('/mask.svg') no-repeat ;

/*  max-height: 480px;
  max-width: 640px;*/
  /*padding-left: 50%;*/
  height: 55%;
  width: 55%;
  margin-left : 42%;
  background-size: 100% 100%;
  /*background-color:rgba(0, 0, 0, 0.5);*/
}
.container .webcam-view {
  
  position: relative;
  padding: 0;
  width: 55%;
  height: 55%;
  /*padding-right: 17%;*/
  /*top:  110%;
  height: 162%;*/
  /*border: 3.5px solid #000;*/
}

.container .webcam-view video{
  
  position: absolute;
 margin-left: 42%;

  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          width: 100%;
          /*z-index: 9999;*/
          height: auto;
  /*padding: 0;*/
  /*width: 200px;
  height: 200px;*/
  /*border: 10px solid black;*/
  /*padding-right: 17%;*/
  /*top:  110%;
  height: 162%;*/
  /*border: 3.5px solid #000;*/
}

.container #live-view canvas {
  position: absolute;
  margin-left: 42%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 999;
  /*padding-left: 17%;*/
}

}





@media (min-width: 1500px) {


.container {
      width: 100%;
      height: 100%;
    }


.container .info-block{
 margin-left: 22%;
  margin-right: 23%;
  display: block;
  /*line-height: 0;*/

}

.container  #live-view{
  position: relative;
  background: url('/mask.svg') no-repeat ;

/*  max-height: 480px;
  max-width: 640px;*/
  height: 42%;
  width: 55%;
  margin-left : 22%;
  background-size: 100% 100%;
  /*background-color:rgba(0, 0, 0, 0.5);*/
}
.container .webcam-view {
  
  position: relative;
  padding: 0;
  width: 55%;
  height: 42%;
  /*padding-right: 17%;*/
  /*top:  110%;
  height: 162%;*/
  /*border: 3.5px solid #000;*/
}

.container .webcam-view video{
  
  position: relative;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          width: 100%;
          /*z-index: 9999;*/
          height: auto;
  /*padding: 0;*/
  /*width: 200px;
  height: 200px;*/
  /*border: 10px solid black;*/
  /*padding-right: 17%;*/
  /*top:  110%;
  height: 162%;*/
  /*border: 3.5px solid #000;*/
}

.container #live-view canvas {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 999;
  /*padding-left: 17%;*/
}







button,
html input[type="button"] /* 1 */
 {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}



.container .row > ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: #fffaf7;

}

.container .row >ul >li#pname{
  font-size: 3.5vw; 
  font-weight: bolder;
}

.container .row ul li #present{
  font-size: 1.3vw; 
  /*font-weight: bolder;*/
}



.container .row  #navimg{
  /*padding-top: 1%;*/
  display: inline-block;
  width: 40%;
  padding-right: 5%;
}

.container .modelchoice
{
  padding-top: 2%;
text-align: center;
}


.container .modelchoice button
{
  color: #1b1c25;
text-align: center;
border-radius: 7px;
margin: 7px;
height: 6%;
background-color: #ff9595;
font-size: 100%;
}



}









/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.2em; 
  line-height: 1.6;
  font-weight: 400;
  /*font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  /*height: 38px;*/
  padding: 0 30px;
  color: #555;
  text-align: center;
  /*font-size: 11px;*/
  /*font-weight: 600;*/
  /*line-height: 38px;*/
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  /*border-radius: 4px;*/
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,

input[type="button"]:hover,
.button:focus,
button:focus,

input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,

input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,

input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,

input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }



/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

